.main{
    margin-top: 6rem;
    /* display:flex; */
    justify-content: center;
}
.searchbar-div{
    width: 100%;
    padding: 0 10rem;
}
.searchbar-div input{
    height: 4rem;
    width: 90%;
}
.searchbar-div button{
    margin-left: 1rem;
    border-radius: 65%;
    height: 4rem;
}
.electriction-img{
    width: 211.3px;
    height: 337.4px;
    border-radius: 22px;
}
.painter-img{
    margin-left: 50px;
    width: px;
    height: 337.4px;
    border-radius: 22px;
}
.main-content-left{
    display: flex;
    justify-content: flex-end;
    align-items: start;}