body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 0.4px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  main {
    padding: 2rem;
  }
  
  h2, h3 {
    color: #333;
  }
  .intro p{
    font-size: 1.2rem;
  }
  .services h3{
    font-size: 1.5rem;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.1rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  form {
    margin-top: 1rem;
    max-width: 400px;
  }
  
  input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    margin-top: 2rem;
  }
  